@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
nav {
    padding: 1rem 1rem;
    width: 100%;
    background-color: #2C3A47;
    color: #000;
  }
  .navitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto auto;
  }
  .navitems h2 {
    font-size: 50px;
    margin:2rem;
    color: white;
  }
  .navitems button {
    background-color: #4267B2; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3rem 3rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  .fetchbtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 94, 206);
  }
  .userdatacontainer {
    width: 100%;
    height: fit-content;
    background-color:rgb(255, 255, 255);
  }
  #main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .avatar {
    border-radius: 30%;
  }
  .profile_cont {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    color: #1778F2;
    margin: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform ease 0.2s;
    opacity: 1;
    margin-top: 5rem;
  }
  .profile_cont:hover {
    transform: scale(1.2);
    opacity: 1;
  }